{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %} My Posts {% endblock %}
{% block stylesheets %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <section class="article-list ideal" id="list-container">
        <div class="ui-status ideal">
            <div class="row">
                {% include 'posts_list.html' with posts=object_list %}
            </div>
            <div class="row">
                <div class="pagination-container">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}

{% block javascripts %}

{% endblock %}