{% load staticfiles %}
{% for post in posts %}

    <article class="col-xs-12 col-sm-6 col-md-4 article" data-id="{{ post.id }}">
        <div class="article-wrapper">
            <img src="{{post.image}}" alt="{{post.title}}" class="article-img">
            <div class="article-stats">
                <div class="published-time">Published: <span class="text">{{post.published_at|date}}</span></div>
                <div class="stats-buttons">
                    <div class="msg-count"><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="count">3</span></div>
                    <div class="fav-count ${likedClass}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class="count">5</span></div>
                    <div class="share-icon"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></div>
                </div>
            </div>
            <header class="article-title"><a href="#">{{post.title}}</a></header>
            <p class="short-desc">{{post.summary}}</p>
            <div class="article-author">
                <div class="wrapper">
                    <div class="author-img-container">
                        <img src="{% static 'img/author.jpeg' %}" alt="{{post.user.username|capfirst}}" class="article-author-img">
                    </div>
                    <div class="author-text-container">
                        <div class="label">About the author:</div>
                        <div class="author-name">{{post.user.username|capfirst}}</div>
                    </div>
                </div>
            </div>
        </div>
    </article>


{% endfor %}